extends layout

block content

    .row.justify-content-center
        .col-sm-6
            legend Edit Pet
            form(action=`/pets/${pet._id}?_method=PUT`, method="POST")
                .form-group
                    label Name*
                    input.form-control(name="name" required value=pet.name)
                .form-group
                    label Species*
                    input.form-control(name="species" required value=pet.species)
                .form-group
                    label Birthday*
                    input.form-control(name="birthday" required value=pet.birthday)
                //- .form-group
                //-     label Avatar
                //-     input.form-control(name="avatar" type="file" required value=pet.avatar)
                .form-group
                    label Favorite Food*
                    input.form-control(name="favoriteFood" required value=pet.favoriteFood)
                .form-group
                    label Description*
                    textarea.form-control(name="description" required minLength="140")=pet.description
                .form-group
                    label Price*
                    input.form-control(name="price" required type="number" value=pet.price)
                button(type="submit").btn.btn-primary Save
                .float-right
                    form(action=`/pets/${pet._id}?_method=DELETE`, method="POST")
                        button(type="submit").btn.btn-danger Remove
